.body {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0;
}

.container1 {
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    margin: 0px 0px 10px;
    width: 1728px;
}
.main {
    background-color: black;
    height: 1807px;
    width: 1098px;
}

.aside {
    background-color: #49c61d;
    height: 1807px;
    width: 620px;
}

.foot {
    background-color: #1a00ff;
    height: 654.45px;
    width: 1728px;
}